*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
/* *********HEADER SECTION*****************/
.main{
    position: relative;
}
#header{
   padding:1.6rem 2rem;
   display: flex;
   justify-content: space-between;
   width: 100%;
   position: fixed;
   z-index: 1000;
   
}
 #header.scrolled {
   background-color: white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hamberger{
    font-size: 2.4rem;
    color: #212121;
    cursor: pointer;
}
.hamberger:hover{
     color: red;
}
.youtube-icon-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-icon{
    font-size: 2.8rem;
    color: #FF0033;
    cursor: pointer;
}
.youtube-heading{
    font-family: Trade Gothic;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
sup{
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 9rem;
}
.search-section{
    position: relative;
}
.search-bar-full{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.back-icon{
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
}
.search{
    width: 50rem;
    padding: 1.2rem;
    border: 1px solid #3333;
    border-radius: 3rem;
}
.hidden-search{
    padding: 1.2rem;
    border: 1px solid #333;
    border-radius: 2rem;
    width: 100%;
}
.search-bar-full input:focus{
    outline: none;
}
@media(max-width:768px){
    .search{
        display: none;
    }
    
}
.search-icon{
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    top: 4px;
    cursor: pointer;
    display: none;
}
@media(max-width:768px){
    .search-icon{
        display: block;
    }
}

.btn-section{
    display: flex;
    gap: 1rem;
}
.btn{
    padding: 12px 16px;
    border: 1px solid blue;
    border-radius: 2rem;
    color: blue;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.5);
}
.btn:hover{
    background-color: aquamarine;
}
/* ******************SIDEBAR ICONS without clicking hamburger************************************* */
.sidebar{
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
     position: fixed;
     z-index: 1000;
     top: 8rem;
    /* visibility: hidden; */
}
@media(max-width:768px){
    .sidebar{
        display: none;
    }
}
.sidebar-icons{
    font-size: 3rem;
    
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: #212121;
    transition: all 0.3s ease;
    border-radius: 11px;
}
.home:hover{
    background-color: rgba(0, 0, 01, 0.1);
}
/* ********************HAMBURGER SIDEBAR**************************************** */
.hamburger-sidebar{
    display: flex;
    flex-direction: column;
    gap:3rem;
    padding: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 16px;
    max-width: 25rem;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
     z-index: 1000; 
    top: 7rem;
}
.home-section-sidebar{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-bottom: 1px solid #333;
    margin-left: 2px;
}
.home-sidebar{
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    width: 200px;
    height: 36px;
    cursor: pointer;
    color: #212121;
    transition: all 0.3s ease;
    border-radius: 11px;
    padding-left: 1rem; 
}
.home-sidebar:hover{
    background-color: rgba(0, 0, 01, 0.1);
}
.home-sidebar p{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
/* *************** FILTER BUTTONS*********************** */

#filter-btns{
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
     top: 7.6rem;
    left: 11rem; 
    transition: all .3s;
    overflow-x: auto;     /* Enable horizontal scroll */
    white-space: nowrap;
     scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE & Edge */
     scrollbar-width: none;
}
#filter-btns.menu-open {
  left: 26rem; /* match your sidebar width */
}
@media(max-width:768px){
    #filter-btns{
        left: 3rem;
    }
}
    
#filter-btns.filter-scrolled {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01);
}
.btn-1{
    border: none;
    background-color: rgba(0, 0, 01, 0.1);
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    
}
.btn-1.active {
  background-color: black; 
  color: white;
}
/* ****************VIDEO GRID*************************** */
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  gap: 20px;
  padding: 20px;
  position: absolute;
  top: 12rem;
  left: 11rem; 
  max-width: 100%;
  height: 100%;
  transition: all .3s;
  
}
.video-grid.shift-left {
  transform: translateX(15rem); /* move left by your sidebar width */
}
@media(max-width:820px){
    .video-grid.shift-left {
  transform: translateX(1rem); /* move left by your sidebar width */
}

}
@media(max-width:768px){
    .video-grid.shift-left{ transform: translateX(1px)
    }
    .video-grid{
         left: 2rem; 
         width: 150%;
    }
    
}
.video-card {
  max-width: 33rem;
  max-height: 33rem;
  cursor: pointer;
  background: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}
@media(max-width:768px){
    .video-card {
        max-width: 60rem;
        max-height: 60rem;
    }
}
.thumbnail{
    width: 100%;
    border-radius: 11px;
}
.video-info{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: 4px;
  font-size: 1.6rem;
  padding: 1rem;
}
/* *********************SIGNIN LOGIN******************************* */
.signin-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #E6F0FA;
    height: 100vh;
}
.signin-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.01);
    background-color: #fff;
    border-radius: 11px;
    width: 60rem;
    height: 40rem;

}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    background-color: #064420;
    height: 100%;
    color: #Fff;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    width: 70%;
}
.input-div{
    width: 100%;
}
.input-div label{
    font-size: 1.2rem;
}
.signin-input{
    width: 100%;
    padding: 14px;
    border: 1px solid #333;
    border-radius: 11px;
}
.btn-3{
    padding: 8px 18px;
    background-color: #064420;
    color: #fff;
    border-radius: 11px;
    border: none;
    cursor: pointer;
}
.btn-4{
    padding: 8px 18px;
    background-color: #064420;
    color: #fff;
    border-radius: 11px;
    border: 1px solid #fff;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* ********************VIDEO PLAYER PAGE******************************* */

.side-video-grid{
    position: absolute;
    top: 5rem;
    left: 86rem;
   visibility: hidden;
   
}

.side-video-heading{
    position: absolute;
    top: 7rem;
    left: 25rem;
    padding: 2rem;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.video-player-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.video-player-cart{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    width: 70%;
    aspect-ratio: 16 / 9; 
    margin-top:9rem ;
    margin-left: 8rem;
   
}


.video-1{
    
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 11px;
}
.user-cart{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
}

.view-hidden{
    display: none;
}
.user-chennel-details{
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}
@media(max-width:820px){
    .view-hidden{
        display: block;
    }
    .user-cart{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .user-chennel-details{
        display: flex;
        justify-content: flex-start;
        
    }
    .video-player-cart{
        width: 90%;
    }

}
@media (max-width:768px){
    .video-player-cart{
        width:100%;
        margin-left: 1rem;
    }
    
}
@media(max-width:700px){
  .video-player-cart{
       aspect-ratio: 16 / 9;
  }
}



.user-image{
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 50px;
}
.channel-name{
    font-size: 2rem;
}
.subscribe{
    padding: 1rem  1.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #212121;
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.subscribe:hover{
    background-color: #555454;
}
.show-subscribe{
    display: flex;
    flex-direction: column;
}
.subscribers{
    font-size: 1.2rem;
    color: #333;

}
.likes-dislikes{
    display: flex;
    gap: 1rem;
}
.like-btn{
    border: none;
    padding: .4rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
.like-btn:hover{
    background-color: #9b9595;
    color: #fff;
}
.like{
    font-size: 2rem;
}
.download{
    border: none;
    padding: .4rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
.download:hover{
    background-color: #777676;
    color: #fff;
}
.description{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    background-color: #E6F0FA;
    margin-left: 8rem;
    width: 70%;
}
.padding {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    padding: 2rem;
}
/* **************comment************************** */
.comments-section{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-left: 8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 70%;
}
@media(max-width:820px){
    .description{
        width: 90%;
    }
    .comments-section{
        width: 90%;
    }
}
@media(max-width:720px){
    .description{
        width: 100%;
        margin-left: 1rem;
    }
    .comments-section{
        width: 100%;
        margin-left: 1rem;
    }
}
.comment-form{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}
.user-form-image{
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 50px;
}
.comment-input{
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    width: 80%;
    font-size: 2rem;
    transition: border-color 0.5s;
}
.comment-input:focus{
    border-bottom: 2px solid blue;
}
.comment-btn{
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 2rem;
    border: none;
}
.comment-btn:hover{
    background-color: #333;
    color: #fff;
}
.inside-comment{
    margin-left: 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
   position: relative;
}
.comment-btn-1{
    padding: 4px 6px;
    border: none;
    cursor: pointer;
    border-radius: 11px;
}
.comment-btn-1:hover{
    background-color: #333;
    color: #fff;
}
.drop-down-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.4rem;
    border-radius: 11px;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 5rem;
    right: 1rem;
    z-index: 1000;
    background-color: #fff;
}
/* ***************CREATE CHANNEL PAGE*********************************** */
.create{
    font-size: 3rem;
}
.create:hover{
    cursor: pointer;
    content: "Create Channel";
}
.channel-form{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cadetblue;
}
.create-form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.5);
    width: 50%;
    height: 70%;
    border-radius: 11px;
    color: #fff;
}
.create-input{
    width: 60%;
    padding: 14px;
    border: none;
    border-radius: 14px;
}
/* ************************CHANNEL PAGE********************************** */
.channel-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7rem;
  left: 11rem; 
  width: 90% ;
  height: 90%;  
}
@media(max-width:820px){
    .channel-page{
        left: 8rem;
    }
    .search-icon{
        left: -.5rem;
    }
}
@media(max-width:768px){
    .channel-page{
        left: 2rem;
    }
}
.banner img{
    width: 90%;
   max-height: 25rem;
    border-radius: 14px;
}

.profile-section{
    display: flex;
    gap: 1rem;
    padding: 2rem;
    border-bottom: 1px solid #333;
}
.profile-pic{
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    border-radius: 50%;
}
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    max-width: 100%;
}
.desc{
    font-size: 1.6rem;
}
.channel-det{
    display: flex;
    width: 100%;
    gap: 1rem;
    font-size: 1.3rem;
}
.subscribe-btn{
    padding: 1rem 1.6rem;
    background-color: #212121;
    color: #fff;
    border-radius: 50px;
    max-width: 10rem;
     cursor: pointer;
    border: none;
}
.subscribe-btn:hover{
    background-color:#696464 ;
}
.channel-video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
}
.tabs{
    display: flex;
    gap: 2rem;
    margin-top: 1.6rem;
}
.btn-5:hover{
      background-color: #212121;
      color: #fff;
}
.channel-video-card{
 max-width: 40rem;
  max-width: 40rem;
  cursor: pointer;
  background: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}